<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mortuarymanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- FIXED: Changed <a> to <application> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Mortuary Management System"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MortuaryCaseActionActivity" />
        <activity android:name=".WebViewActivity" />

        <activity android:name=".AcceptCaseActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".PoliceDashboardActivity" />
        <activity android:name=".ReportBodyActivity" />
        <activity android:name=".MortuaryStaffDashboardActivity" />
        <activity android:name=".DoctorDashboardActivity" />
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".ConfirmReceivedActivity" />
        <activity android:name=".PerformAutopsyActivity" />
        <activity android:name=".CasesListActivity" />
        <activity android:name=".ViewCaseStatusActivity" />
    </application>

</manifest>